// ----------------------
// == Fonts
// ----------------------

/*@font-face {
  font-family: 'Segoe UI';
  src: url('webfont.eot'); *//* IE9 Compat Modes *//*
  src: url('webfont.eot?#iefix') format('embedded-opentype'), *//* IE6-IE8 *//*
  url('webfont.woff2') format('woff2'), *//* Super Modern Browsers *//*
  url('webfont.woff') format('woff'), *//* Pretty Modern Browsers *//*
  url('webfont.ttf')  format('truetype'), *//* Safari, Android, iOS *//*
  url('webfont.svg#svgFontName') format('svg'); *//* Legacy iOS *//*
}*/

// Розделил шрифты потому что ие не видет по другому

//for ie
/*@font-face {
  font-family: "Segoe UI";
  src: url('../fonts/Tahoma-Regular.eot'); /!* IE9 Compat Modes *!/
}
@font-face {
  font-family: "Tahoma-Bold";
  src: url('../fonts/Tahoma-Bold.eot'); /!* IE9 Compat Modes *!/
}*/

//for all

// @font-face {
//   font-family: "Lato";
//   src: url("../fonts/Lato-Regular.ttf");
// }


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);