@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

//Font size
$base-px-default: 16px !default;

// = Fonts
// -----------------------------
$base-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// = Colors
// -----------------------------

//For naming colors, I used "Name that Color"


