@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

//Font size
$base-px-default: 16px !default;

// = Fonts
// -----------------------------
$base-font: 'Lato', sans-serif;
$font-base-bold: 'Segoe UI Bold', "Frutiger Bold", 'Frutiger Linotype Bold', 'Dejavu Sans Bold', 'Helvetica Neue Bold', "Arial Bold", sans-serif;

// = Colors
// -----------------------------

//For naming colors, I used "Name that Color"


