html, body {
  /*min-height: 300px;*/
}

.nav-up {
    top: -45px;
}

.contentDiv {
    position: relative;
    /*min-height: 300px;*/
     min-height: calc(100vh - 100px);
}

.messages{
  height: -webkit-calc(100% - 45px);
  height: -moz-calc(100% - 45px);
  height: calc(100% - 45px);
  overflow: auto;
}

.taskList{
  height: -webkit-calc(100% - 45px);
  height: -moz-calc(100% - 45px);
  height: calc(100% - 45px);
  overflow: auto;
}

.cardsToChooseView{
  width: 100%;
}

.tableNameView{
  height: 10vh;
  display: table-cell;
}

.gamersListView{
  float: right;
  text-align: left;
  width: 20vw;
  height: 20vh;
}
.taskNameView{
  height: 10vh;
  display: table-row;
}

.table, .cardsToChooseView{
  height: 30vh;
  text-align: left;
}

.gameZoneView{
  text-align: left;
  height: -webkit-calc(30vh - 45px);
  height: -moz-calc(30vh - 45px);
  height: calc(30vh - 45px);
}

.thumbnail{
  display: inline-block;
}

.messages, .taskList, .gamersListView, .cardsToChooseView, .gameZoneView{
  text-align: initial;
  display: block;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sendMessage,.addTask{
  padding: 0;
  width: 50px;
}

.taskInput,.chatInput{
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
}

.taskResultsListView, .taskListView{
  height: 30%;
  width: 100%;
}

.chatView{
  height: 40%;
  width: 100%;
}

.leftGameView {
  width: -webkit-calc(100% - 360px);
  width: -moz-calc(100% - 360px);
  width: calc(100% - 360px);
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  margin-top: 20px;
}

.rightGameView {
    float: right;
    width: 350px;
    margin-left: 10px;
    height: -webkit-calc(100vh - 100px);
    height: -moz-calc(100vh - 100px);
    height: calc(100vh - 100px);
}



.contentDiv{
  height: 800px;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);
  margin-top: 50px;
}

.vcenter {
  display: flex;
  align-items: center;
}

.jumbotron{
  padding: 0px;
  margin: 0px;
  height: auto;
  width: 100vw;
  background-color: transparent;
}

.footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  text-align: center;
  padding-top: 10px;
  color: white;
}