#messages{
  height: 10vh;
  border: 1px solid white;
  overflow: scroll;
}

.cardsToChooseView, .gamersListView, .chatView{
  color: black;
  text-align: center;
  width: 40%;
  border: 1px solid;
}

.thumbnail{
  width: 25%;
  display: inline-block;
}

.table {
  width: 40%;
  text-align: center;
  border: 1px solid;
}

.headerDiv, .footerDiv{
  height: 10vh;
}

.footerDiv{
  height: 10%;
  /*position: absolute;*/
  /*bottom: 0px;*/
}

.contentDiv{
  height: 70%;
  overflow: scroll;
}

.gamersListView{
  border: 1px solid;
}