<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>planning</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- build:css styles/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main-header">
      <div class="main-header__logo">
        <div class="logo">
          <a href="/"><img src="/images/logo.svg"></a> <!--//todo - paste plain svg -->
        </div><!-- /.logo -->
      </div><!-- /.main-header__logo -->
      <div class="main-header__project">Project Title</div><!-- /.main-header__project -->
      <div class="main-header__user">
        <div class="user">
          <div class="user__avatar">
            <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
          </div><!-- /.user__avatar -->
          <div class="user__name">Alexander Mykolaichuk</div>
        </div>
      </div><!-- /.main-header__user -->
    </header><!-- /.main-header -->

    <div class="tab">
      <ul class="tab__nav">
        <li class="tab__nav--active">Conversation</li>
        <li>Tasks</li>
      </ul><!-- /.tabs__nav -->
      <div class="tab__content">
        <div class="users-comments">
          <div class="user-comment">
              <div class="user-comment__avatar">
                <img src="https://avatars.githubusercontent.com/u/3531246?v=3">
              </div>
              <div class="user-comment__name">Bogdan Onikiienko</div>
              <span class="user-comment__time">12:34</span>
              <div class="user-comment__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint impedit voluptates modi, voluptatibus in officiis.</div>
          </div><!-- /.user-comment -->
          <div class="user-comment">
              <div class="user-comment__avatar">
                <img src="https://avatars.githubusercontent.com/u/3531246?v=3">
              </div>
              <div class="user-comment__name">Bogdan Onikiienko</div>
              <span class="user-comment__time">12:34</span>
              <div class="user-comment__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint impedit voluptates modi, voluptatibus in officiis.</div>
          </div><!-- /.user-comment -->
          <div class="user-comment">
              <div class="user-comment__avatar">
                <img src="https://avatars.githubusercontent.com/u/3531246?v=3">
              </div>
              <div class="user-comment__name">Bogdan Onikiienko</div>
              <span class="user-comment__time">12:34</span>
              <div class="user-comment__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint impedit voluptates modi, voluptatibus in officiis.</div>
          </div><!-- /.user-comment -->
          <div class="users-comments__textarea"></div><!-- /.users-comments__textarea -->
          <div class="users-comments__btn">
            <button class="btn-enter">Comment</button>
          </div><!-- /.users-comments__btn -->
        </div><!-- /.users-comments -->
        <div class="tasks">
          <div class="task">
            <span class="task__to">to: Semelyak</span>
            <h2 class="task__title">Task title with very long multilined text (yes, it can be) goes here</h2>
            <p class="task__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam lacus, tempor vel eleifend nec, viverra sed ante. Donec</p>
          </div><!-- /.task -->
          <div class="task">
            <span class="task__to">to: Semelyak</span>
            <h2 class="task__title">Task title with very long multilined text (yes, it can be) goes here</h2>
            <p class="task__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam lacus, tempor vel eleifend nec, viverra sed ante. Donec</p>
          </div><!-- /.task -->
          <div class="tasks__btn">
            <button class="btn-enter">Add New Task</button>
          </div><!-- /.tasks__btn -->
        </div><!-- /.tasks -->
      </div><!-- /.tab__content -->
    </div><!-- /.tabs -->

    <section class="playground">
      <div class="playground__users">
        <div class="user">
          <div class="user__avatar">
            <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
          </div><!-- /.user__avatar -->
          <div class="user__name user__name--team">roya3000</div>
        </div>
        <div class="user">
          <div class="user__avatar">
            <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
          </div><!-- /.user__avatar -->
          <div class="user__name user__name--team">roya3000</div>
        </div>
        <div class="user">
          <div class="user__avatar">
            <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
          </div><!-- /.user__avatar -->
          <div class="user__name user__name--team">roya3000</div>
        </div>
        <div class="user">
          <div class="user__avatar">
            <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
          </div><!-- /.user__avatar -->
          <div class="user__name user__name--team">roya3000</div>
        </div>
      </div><!-- /.playground__users -->
      <h2 class="playground__title">Task title with very long multilined text (yes, it can be) goes here </h2>
      <div class="playground__cards">
        <div class="cards">
          <div class="card">
            <div class="card__user">
              <div class="user">
                <div class="user__avatar">
                  <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
                </div><!-- /.user__avatar -->
              </div>
            </div>
            <div class="card__rate">8</div>
            <button class="card__btn"><i class="fa fa-times-circle"></i></button>
          </div><!-- /.card -->
          <div class="card">
            <div class="card__user">
              <div class="user">
                <div class="user__avatar">
                  <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
                </div><!-- /.user__avatar -->
              </div>
            </div>
            <div class="card__rate">8</div>
            <button class="card__btn"><i class="fa fa-times-circle"></i></button>
          </div><!-- /.card -->
          <div class="card">
            <div class="card__user">
              <div class="user">
                <div class="user__avatar">
                  <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
                </div><!-- /.user__avatar -->
              </div>
            </div>
            <div class="card__rate">8</div>
            <button class="card__btn"><i class="fa fa-times-circle"></i></button>
          </div><!-- /.card -->
          <div class="card">
            <div class="card__user">
              <div class="user">
                <div class="user__avatar">
                  <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
                </div><!-- /.user__avatar -->
              </div>
            </div>
            <div class="card__rate">8</div>
            <button class="card__btn"><i class="fa fa-times-circle"></i></button>
          </div><!-- /.card -->
        </div><!-- /.cards -->
      </div><!-- /.playground__cards -->
    </section><!-- /.playground -->

    <section class="card-select">
      <div class="card-select__cards">
        <div class="card">
          <div class="card__rate card__rate--dis">8</div>
        </div><!-- /.card -->
        <div class="card">
          <div class="card__rate card__rate--dis">8</div>
        </div><!-- /.card -->
        <div class="card">
          <div class="card__rate card__rate--dis">8</div>
        </div><!-- /.card -->
        <div class="card">
          <div class="card__rate card__rate--dis">8</div>
        </div><!-- /.card -->
      </div><!-- /.card-select__cards -->
    </section><!-- /.card-select -->



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
