<div class="card">
    <div class="card__user">
        <div class="user">
            <div class="user__avatar">
                <img src="<%= contributor.avatar %>">
            </div><!-- /.user__avatar -->
        </div>
    </div>
    <div class="card__rate" data="<%= card.value %>"><%= card.content %></div>
    <%if(contributor.name !== window.headerModel.get('name')){%>
        <div class="card__user-name"><%= contributor.name %></div>
    <%}else{%>
        <button class="card__btn"><i class="fa fa-times-circle"></i></button>
    <%}%> 
</div><!-- /.card -->