<div class="content-wrapper">
    <div class="content__header">
        <!-- Paste RoomHeader -->
    </div><!-- /.content__header -->
    <div class="main-content">
        <div class="col-1">
            <div class="main-content__playground">
                <section class="playground">
                    <div class="playground__users">
                        <!-- Paste playgroundUser -->
                    </div><!-- /.playground__users -->
                    <h2 class="playground__title">Task title with very long multilined text (yes, it can be) goes here </h2>
                    <div class="playground__cards">
                        <div class="cards">
                            <!-- Paste playgroundCard -->
                        </div><!-- /.cards -->
                    </div><!-- /.playground__cards -->
                </section><!-- /.playground -->
                <div class="main-content__cardSelect">
                    <section class="card-select">
                        <div class="card-select__cards">
                            <!-- Paste selectCard -->
                        </div><!-- /.card-select__cards -->
                    </section><!-- /.card-select -->
                </div>
            </div><!-- /.main-content__playground -->
        </div>
        <div class="col-2">
            <div class="tab">
                <ul class="tab__nav">
                    <li class="tab__nav--active" bind="conversation">Conversation</li>
                    <li bind="tasks">Tasks</li>
                </ul><!-- /.tabs__nav -->
                <div class="tab__content">
                    <div class="users-comments tab__content--item content--active" bind="conversation">
                        <!-- paste user comment-->
                        <div class="users-comments__chat">
                            <div class="users-comments__textarea">
                                <textarea class="textarea"></textarea>
                            </div><!-- /.users-comments__textarea -->
                            <div class="users-comments__btn">
                                <button class="btn-enter">Comment</button>
                            </div><!-- /.users-comments__btn -->
                        </div>
                    </div><!-- /.users-comments -->
                    <div  class="tasks tab__content--item" bind="tasks">
                        <!-- paste task-->
                        <div class="tasks__btn">
                            <button class="btn-enter">Add New Task</button>
                        </div><!-- /.tasks__btn -->
                    </div><!-- /.tasks -->
                </div><!-- /.tab__content -->
            </div><!-- /.tabs -->
        </div>
    </div>
</div><!-- /.content-wrapper -->