<div class="content-wrapper">
    <div class="content__header">
        <header class="main-header">
            <div class="main-header__logo">
                <div class="logo">
                    <a href="/"><img src="/images/logo.svg"></a> <!--//todo - paste plain svg -->
                </div><!-- /.logo -->
            </div><!-- /.main-header__logo -->
            <div class="main-header__project">Project Title</div><!-- /.main-header__project -->
            <div class="main-header__user">
                <div class="user">
                    <div class="user__avatar">
                        <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
                    </div><!-- /.user__avatar -->
                    <div class="user__name">Alexander Mykolaichuk</div>
                </div>
            </div><!-- /.main-header__user -->
        </header><!-- /.main-header -->
    </div><!-- /.head -->

    <div class="main-content">
        <div class="col-1">
            <div class="main-content__playground">
                <section class="playground">
                    <div class="playground__users">
                    </div><!-- /.playground__users -->
                    <h2 class="playground__title">Task title with very long multilined text (yes, it can be) goes here </h2>
                    <div class="playground__cards">
                        <div class="cards">
                        </div><!-- /.cards -->
                    </div><!-- /.playground__cards -->
                </section><!-- /.playground -->
                <div class="main-content__cardSelect">
                    <section class="card-select">
                        <div class="card-select__cards">
                        </div><!-- /.card-select__cards -->
                    </section><!-- /.card-select -->
                </div>
            </div><!-- /.main-content__playground -->
        </div>
        <div class="col-2">
            <div class="tab">
                <ul class="tab__nav">
                    <li class="tab__nav--active" bind="conversation">Conversation</li>
                    <li bind="tasks">Tasks</li>
                </ul><!-- /.tabs__nav -->
                <div class="tab__content">
                    <div class="chat tab__content--item content--active" bind="conversation">
                        <div class="msg-container">
                        </div><!-- /.msg-container -->
                        <div class="msg-input">
                            <textarea class="textarea"></textarea>
                            <button id="sendMsg" class="btn-enter">Comment</button>
                        </div><!-- /.msg-input -->
                    </div><!-- /.chat -->
                    <div class="tasks tab__content--item" bind="tasks">
                        <div class="task__container" >

                        </div><!-- /.task-container -->
                        <div class="task__btn">
                            <button class="btn-enter">Add New Task</button>
                        </div><!-- /.task__btn -->
                    </div><!-- /.tasks -->
                </div><!-- /.tab__content -->
            </div><!-- /.tab -->

        </div>
    </div>

</div>