<div class="content-wrapper">
    <div class="content__header">
        <!-- Paste RoomHeader -->
    </div><!-- /.content__header -->
    <div class="main-content">
        <div class="col-1">
            <div class="main-content__playground">
                <section class="playground">
                    <div class="playground__users">
                        <!-- Paste playgroundUser -->
                    </div><!-- /.playground__users -->
                    <h2 class="playground__title">Task title with very long multilined text (yes, it can be) goes here </h2>
                    <div class="playground__cards">
                        <div class="cards">
                            <!-- Paste playgroundCard -->
                        </div><!-- /.cards -->
                    </div><!-- /.playground__cards -->
                </section><!-- /.playground -->
                <div class="main-content__cardSelect">
                    <section class="card-select">
                        <div class="card-select__cards">
                            <!-- Paste selectCard -->
                        </div><!-- /.card-select__cards -->
                    </section><!-- /.card-select -->
                </div>
            </div><!-- /.main-content__playground -->
        </div>
        <div class="col-2">
            <!-- chat -->
        </div>
    </div>
</div><!-- /.content-wrapper -->