<header class="main-header">
    <div class="main-header__logo">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg"></a> <!--//todo - paste plain svg -->
        </div><!-- /.logo -->
    </div><!-- /.main-header__logo -->
    <div class="main-header__project">Project Title</div><!-- /.main-header__project -->
    <div class="main-header__user">
        <div class="user">
            <div class="user__avatar">
                <img src="https://avatars.githubusercontent.com/u/3904240?v=3">
            </div><!-- /.user__avatar -->
            <div class="user__name">Alexander Mykolaichuk</div>
        </div>
    </div><!-- /.main-header__user -->
</header><!-- /.main-header -->