<div class="project-select__wrapper">
    <div class="project-select">
        <h2 class="project-select__title">Get Started</h2><!-- /.project-select__title -->
        <div class="project-select__select">
            <div class="select">
                <div class="select__title">Select a Project</div>
                <ul class="select__items">
                    <% _.each(listOfProjects, function(project) { %>
                    <li class="select__item">
                    <span class="item__tasks">
                        <%= project.numberOfOpenIssues %>
                              <% if (project.numberOfOpenIssues !== 1) { %>
                            Tasks
                        <% }else{ %>
                            Task
                        <% } %>
                    </span>
                        <div class="item__name"><%= project.owner %>/<%= project.name %></div>
                        <div class="item__desc"><%= project.description %></div>
                    </li>
                    <% }); %>
                </ul><!-- /.select__items -->
            </div><!-- /.select -->
        </div>
        <div class="project-select__controls">
            <input data="Standard" type="radio" checked name="controls" id="standart"><label for="standart"><span></span>Standart</label>
            <input data="T-shirt" type="radio" name="controls" id="t-shirt"><label for="t-shirt"><span></span>T-shirt</label>
            <input data="Fibonacci" type="radio" name="controls" id="fib"><label for="fib"><span></span>Fibonacci</label>
        </div><!-- /.project-select__controls -->
        <div class="project-select__btn">
            <button class="btn-enter enterRoomBtn">Enter Room</button>
        </div><!-- /.project-select__btn -->
    </div><!-- /.project-select -->
</div><!-- /.project-select__wrapper -->
