<div class="headerBar">
	<a href="#">
		<div class="logoSquare">
			<i class="fa fa-clock-o fa-2x"></i>
		</div>
	</a>
	<div class="projectName">Planning poker</div>
	<div class="playerData">
		<img src="<%= player.avatar %>" class="avatar">
		<div class="playerName"><%= player.name %></div>
	</div>
</div>
<div class="createRoomForm">
	<h1>Get Started</h1>
	<div class="roomNameInput">
	    <%=  _.first(listOfProjects).owner %>/<%=  _.first(listOfProjects).name %>
	</div>
	<div class="roomNameList">
		<% _.each(listOfProjects, function(project) { %> 
	    	<div class="roomNameListItem">
		    	<div class="roomNameListItemHeader">
		    		<span class="roomNameListItemHeaderTitle">
		    			<%= project.owner %>/<%= project.name %>
		    		</span>
		    		<span class="roomNameListItemHeaderIssuesCounter">
		    			<i class="fa fa-tasks"></i> <%= project.numberOfOpenIssues %> 
		    			<% if (project.numberOfOpenIssues !== 1) { %>
		    				Tasks
		    			<% }else{ %>
		    				Task
		    			<% } %>
		    		</span>
		    	</div>
		    	<div class="roomNameListItemBody">
		    		<%= project.description %>
		    	</div>
	    	</div>
		<% }); %>
	</div>
	<div class="currencyType">
			<div class="radioBtn checked" data="Standard"></div>
			Standard
			<div class="radioBtn" data="T-shirt"></div>
			T-shirt
			<div class="radioBtn" data="Fibonacci"></div>
			Fibonacci
	</div>
	<div class="enterRoomBtn btnPurple">Enter room</div>
</div>