<img src=<%= player.avatar_url %> class="avatar">
<%= player.name %>
<%= listOfOrganizations %>
<br>

<div class="createRoomForm">
	<h1>Get Started</h1>
	<div class="roomNameInput">
	    <%=  _.first(listOfProjects).full_name %>
	</div>
	<div class="roomNameList">
		<% _.each(listOfProjects, function(project) { %> 
	    	<div class="roomNameListItem">
		    	<div class="roomNameListItemHeader">
		    		<span class="roomNameListItemHeaderTitle">
		    			<%= project.full_name %>
		    		</span>
		    		<span class="roomNameListItemHeaderIssuesCounter">
		    			<i class="fa fa-tasks"></i> <%= project.open_issues %> 
		    			<% if (project.open_issues !== 1) { %>
		    				Tasks
		    			<% }else{ %>
		    				Task
		    			<% } %>
		    		</span>
		    	</div>
		    	<div class="roomNameListItemBody">
		    		<%= project.description %>
		    	</div>
	    	</div>
		<% }); %>
	</div>
	<div class="currencyType">
			<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="standardCurrency" checked>
			Standard
			<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="tShirtCurrency">
			T-shirt
			<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="fibonacciCurrency">
			Fibonacci
	</div>
	<div class="enterRoomBtn btn">Enter room</div>
</div>