<div class="contentCenter">			
	<img src=<%= player.avatar_url %> class="avatar">
	<%= player.name %>
	<%= listOfOrganizations %>
	<br>
	<select>
		<% _.each(listOfProjects, function(project) { %> 
	    	<option><%= project.full_name %></option>
		<% }); %>
	</select>
	<h1>Enter to room</h1>
    <p>Create your own room or join other.</p>
	<input class="roomNameInput" placeholder="Room name" required autofocus="true" type="input"></input>
	<div class="currencyType">
			<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="standardCurrency" checked>
			Standard
			<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="tShirtCurrency">
			T-shirt
			<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="fibonacciCurrency">
			Fibonacci
	</div>
	<div class="enterRoomBtn btn">Enter room</div>
</div>