<div class="headerBar">
	<a href="#">
		<div class="logoSquare">
			<i class="fa fa-clock-o fa-2x"></i>
		</div>
	</a>
	<div class="projectName"><%= nameOfProject %></div>
	<div class="playerData">
		<img src="<%= player.avatar %>" class="avatar">
		<div class="playerName"><%= player.name %></div>
	</div>
</div>
<div class="table">
	<div class="rightPartOfTable">
		<div class="tabPanel">
			<div class="navBar">
				<div class="navBarItem active" bind="conversation">CONVERSATION</div>
				<div class="navBarItem" bind="tasks">TASKS</div>
			</div>
			<div class="tabPanelBody">
				<div class="tabPanelBodyItem active" bind="conversation">
					<div class="posts">
						<% _.each(conversation, function(post) { %> 
							<div class="post">
								<div class="postHeader">
									<img src="<%= post.avatar %>" class="postHeaderAvatar">
									<div class="postHeaderPlayerName"><%= post.name %></div>
									<div class="postHeaderDate">
										<%= new Date(post.date).toTimeString().split(' ')[0] %>
									</div>
								</div>
								<div class="postBody">
									<%= post.body %>
								</div>
							</div>
						<% }); %>
					</div>
					<div class="sendForm">
						<textarea rows="4" cols="50" class="textInputForChat"></textarea>
						<div class="sendBtn btnPurple">Send</div>
					</div>
				</div>
				<div class="tabPanelBodyItem" bind="tasks">
					<% _.each(issues, function(issue) { %> 
						<div class="issue">
							<div class="issueHeader">
								<div class="issueHeaderTitle"><%= issue.title %></div>
								<div class="issueHeaderAuthor">Created by: <%= issue.creator.login %></div>
							</div>
							<div class="issueBody">
								<%= issue.body %>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
	<div class="leftPartOfTable">
		<div class="players">
			<% _.each(collaborators, function(collaborator) { %> 
				<div class="playerData">
					<img src="<%= collaborator.avatar %>" class="avatar">
					<div class="playerName"><%= collaborator.login %></div>
				</div>
			<% }); %>
		</div>
		<div class="tableDesk">
			<div class="issueTitleOnDesk">
				<% if (currentIssue.name){%>
					<%= currentIssue.name %>
				<% }else{ %>
					Please, choose your task.
				<% }; %>
			</div>
			<div class="setofCradsOnDesk">
				<% if (cardsOnDesk){%>
						<%  _.each(cardsOnDesk, function(card){ %>
							<div class="cardOnDesk" login="<% card.player.login %>">
									<img src="<%= card.player.avatar %>" class="playerAvatarOnCard">
									<div class="numberOnCardOnDesk" data="<%= card.card.key %>">
										<span><%= card.card.number %></span>
										<i class="fa fa-clock-o"></i>
									</div>
									<div class="playerNameOnCard">
										<% if (card.player.login == window.player.toJSON().player.login){%>
											<i class="fa fa-times-circle deleteCard"></i>
										<% }else{ %>
											<%= card.player.name %>
										<% }; %>
									</div>
							</div>
						<%  }); %> 
				<% }; %>
			</div>
		</div>
		<div class="cardsSet">
			<% _.each(cardsSet, function(card) { %> 
				<% _.map(card, function(number, key) { %> 
					<div class="card" data="<%= number %>">
						<span><%= key %></span>
						<i class="fa fa-clock-o"></i>
					</div>
				<% }); %>
			<% }); %>
		</div>
	</div>
</div>