<div class="headerBar">
	<a href="#">
		<div class="logoSquare">
			<i class="fa fa-clock-o fa-2x"></i>
		</div>
	</a>
	<div class="projectName"><%= nameOfProject %></div>
	<div class="playerData">
		<img src="<%= player.avatar %>" class="avatar">
		<div class="playerName"><%= player.name %></div>
	</div>
</div>
<div class="table">
	<div class="rightPartOfTable">
		<div class="tabPanel">
			<div class="navBar">
				<div class="navBarItem active" bind="conversation">CONVERSATION</div>
				<div class="navBarItem" bind="tasks">TASKS</div>
			</div>
			<div class="tabPanelBody">
				<div class="tabPanelBodyItem active" bind="conversation">1</div>
				<div class="tabPanelBodyItem" bind="tasks">2</div>
			</div>
		</div>
	</div>
	<div class="leftPartOfTable">b</div>
</div>