<div class="headerBar">
	<a href="#">
		<div class="logoSquare">
			<i class="fa fa-clock-o fa-2x"></i>
		</div>
	</a>
	<div class="projectName">Planning poker</div>
</div>
<span class="description">A realtime Planning application for distributed Agile teams</span>
<div class="landing">
	<div class="landingItem chatAd">
		<i class="fa fa-weixin"></i>
		<div class = "landingHeadAd">Chat with your colegues</div>
		<span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ips.</span>
	</div>
	<div class="landingItem estimateAd">
		<i class="fa fa-clock-o"></i>
		<div class = "landingHeadAd">Estimate any task you have</div>
		<span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</span>
	</div>
	<div class="landingItem projectAd">
		<i class="fa fa-briefcase"></i>
		<div class = "landingHeadAd">Estimate any task you have</div>
		<span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</span>
	</div>
	<div class="landingItem flowAd">
		<i class="fa fa-smile-o"></i>
		<div class = "landingHeadAd">Estimate any task you have</div>
		<span>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ips.</span>
	</div>
</div>
<div class="btnPurple signIn"><i class="fa fa-github fa-2x"></i>Login with Github</div>