<section class="content">
    <h1 class="content__title">A realtime Planning application for <br> distributed Agile teams</h1><!-- /.content__title -->
    <div class="container">
        <div class="content__items">
            <ul class="list-items">
                <li class="list__item"><i class="fa fa-weixin"></i>Chat with your colegues
                    <p class="sub-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</p>
                </li>
                <li class="list__item"><i class="fa fa-briefcase"></i>Estimate any task you have
                    <p class="sub-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</p>
                </li>
                <li class="list__item"><i class="fa fa-clock-o"></i>Estimate any task you have
                    <p class="sub-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</p>
                </li>
                <li class="list__item"><i class="fa fa-smile-o"></i>Estimate any task you have
                    <p class="sub-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum llorem ips.</p>
                </li>
            </ul><!-- /.list-items -->
        </div><!-- /.content__items -->
    </div><!-- /.container -->
    <div class="content__login">
        <button class="btn-login--github signIn"><i class="fa fa-github"></i>Sign in with Github</button>
    </div><!-- /.content__login -->
</section><!-- /.content -->