// Buttons module
// ------------------------------

%btn {
  border: none;
  outline: none;
  background-color: #7D77B2;
  font-family: $base-font;
  color: #fff;
  font-size: rem(20);
  border-radius: rem(28);
  position: relative;
}

.btn-login--github {
  padding: rem(15) rem(25) rem(15) rem(66);
  @extend %btn;
    i {
      font-size: rem(38);
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
}

.btn-enter {
  @extend %btn;
  padding: rem(10) rem(25);
}