// Tasks module
// ------------------------------

.tasks {
  display: none; //////////////////////////////////////////////////////!!!!!!!!!!
  padding: 0 rem(38) rem(20) rem(25);
  &__btn {
    text-align: center;
  }
}

.task {
  margin-bottom: rem(40);
  margin-top: rem(30);
  &__title {
    color: #7D77B2;
    font-family : $secondary-font;
    font-size : rem(14);
    width: 75%;
  }
  &__to {
    color: #72777C;
    font-family : $secondary-font;
    font-size : rem(12);
    float: right;
  }
  &__content {
    color: #848484;
    line-height: 1.5;
  }
}