@import url("elements.less");
@import url("flip.less");
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

html, body{
  font-family: 'Lato', sans-serif;
}

body{
  margin: 0;
  color: #7e8287;
  background: rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
}

.headerBar{
  font-weight: 300;
  background: rgb(125, 119, 178);
  background-color: rgb(125, 119, 178);
  padding: 10px;
  color: white;
  box-shadow: 0px 2px 5px #888888;
  a {
    .logoSquare {  
      background: rgb(113, 110, 160);
      background-color: rgb(113, 110, 160);
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: inline-block;
      i {
        margin: 10px 12px;
      }
    }
    color: white;
    text-decoration: none;
  }
  .projectName{
    font-size: 1.5em;
    font-weight: 300;
    display: inline-block;
    margin: 0 30px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 30px;
  }
  .playerData{
    float: right;
    .playerName{
      display: inline-block;
      position: relative;
      top: -20px;
    }
    .avatar{
      border-radius: 50%;
      width: 50px;
      border: 3px solid white;
      box-sizing: border-box;
    }
  }
}

.btnPurple{
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 9px 20px;
  border-radius: 28px;
  color: white;
  background-color: rgb(125, 119, 178);
  font-weight: 700;
  &:hover{
    background-color: rgba(125, 119, 178, 0.8);
  }
  i{
    position: absolute;
    top: 5px;
    left: 8px;
  }
}

/*start view BEGIN*/
.signIn{
  padding: 10px 20px 10px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 130px;
}
.description{
  font-size: 2em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vw;
  margin-bottom: 3vw;
  font-weight: 300;
  opacity: 0.7;
  text-align: center;
  display: block;
}
.landing{  
  margin-left: auto;
  width: 90%;
  margin-bottom: 3vw;
  i{
    position: relative;
    left: -36px;
    top: 25px;
    font-size: 1.5em;
    color: #7d77b2;
  }
  .landingHeadAd{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .landingItem{
    padding-left: 60px;
    width: 40%;
    display: inline-block;
    span{
      font-weight: 300;
      margin-top: 1em;
    }
  }
}
/*start view END*/

/*create room view BEGIN*/

.createRoomForm{
  width: 45%;
  margin: 10% auto;
  position: relative;
  background: white;
  background-color: white;
  padding: 20px 60px 20px 30px;
  box-shadow: 2px 3px 8px #888888;
  border-radius: 5px;
  h1{
    border-bottom: 1px solid;
    padding-bottom: 7px;
    border-bottom-color: rgb(127, 161, 166);
    width: ~"-webkit-calc(100% + 20px)";
    width: ~"-moz-calc(100% + 20px)";
    width: ~"calc(100% + 20px)";
  }
}

.roomNameInput{
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  color: rgb(126, 130, 135);
}
.roomNameList{
  display: none;
  width: 470px;
  width: ~"-webkit-calc(88% + 20px)";
  width: ~"-moz-calc(88% + 20px)";
  width: ~"calc(88% + 20px)";
  background-color: white;
  background: white;
  overflow: auto;
  max-height: 400px;
  position: absolute;
  z-index: 2;
  box-shadow: 2px 3px 8px #888888;
  .roomNameListItem{
    padding: 17px;
    &:hover{
      background-color: rgb(235, 235, 242);
      background: rgb(235, 235, 242);
      cursor: pointer;
      color: rgb(77, 196, 234);
    }
    .roomNameListItemHeader{
      font-size: 17px;
      .roomNameListItemHeaderTitle{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 85%;
        display: inline-block;
      }
      .roomNameListItemHeaderIssuesCounter{
        float: right;
        opacity: 0.6;
        font-size: 12px;
        font-weight: 300;
        i{
          margin-right: 5px;
        }
      }
    }
    .roomNameListItemBody{
      opacity: 0.5;
      font-weight: 300;
    }
  }
}

.currencyType{
  margin: 15px 0;
  border-bottom: 1px solid;
  padding-bottom: 19px;
  border-bottom-color: rgb(127, 161, 166);
  width: ~"-webkit-calc(100% + 20px)";
  width: ~"-moz-calc(100% + 20px)";
  width: ~"calc(100% + 20px)";
  .currency{
    display: inline-block;
    cursor: pointer;
    .radioBtn{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
      background-color: white;
      display: inline-block;
      margin-left: 20px;
      margin-right: 5px;
      border: 1px solid;
      &.checked{
        background-color: rgb(125, 119, 178);
        background: rgb(125, 119, 178);
      }
    }
  }
}

/*create room view END*/

@rightSideWidth: 400px;


/* roomView START */
.table{
  margin-top: 2px;
  height: calc(~"100vh - 70px");
  height: -moz-calc(~"100vh - 70px");
  height: -webkit-calc(~"100vh - 70px");
  height: -o-calc(~"100vh - 70px");
  .rightPartOfTable{
    height: calc(~"100vh - 70px");
    height: -moz-calc(~"100vh - 70px");
    height: -webkit-calc(~"100vh - 70px");
    height: -o-calc(~"100vh - 70px");
    width: @rightSideWidth;
    color: #7e8287;
    float: right;
    border-left: 1px solid #7e8287;
    box-sizing: border-box;
    .tabPanel{
      height: calc(~"100vh - 70px");
      height: -moz-calc(~"100vh - 70px");
      height: -webkit-calc(~"100vh - 70px");
      height: -o-calc(~"100vh - 70px");
      .navBar{
        .navBarItem{
          background: #eaeaea;
          display: inline-block;
          padding: 15px 30px;
          cursor: pointer;
          width: 49%;
          font-weight: 700;
          border-bottom: 7px solid #eaeaea;
          text-align: center;
          box-sizing: border-box;
        }
        .active{
          background: white;
          cursor: initial;
          border-bottom: 7px solid rgb(125, 119, 178);
        }
      }
      .tabPanelBody{
        height: calc(~"100vh - 126px");
        height: -moz-calc(~"100vh - 126px");
        height: -webkit-calc(~"100vh - 126px");
        height: -o-calc(~"100vh - 126px");
        .tabPanelBodyItem{
          height: calc(~"100vh - 126px");
          height: -moz-calc(~"100vh - 126px");
          height: -webkit-calc(~"100vh - 126px");
          height: -o-calc(~"100vh - 126px");
          background: rgb(234, 234, 234);
          display: none;
          .sendForm{
              position: absolute;
              bottom: 0;
              width: 400px!important;
              padding-bottom: 10px;     
            .textInputForChat {
              width: 90%;
              margin: 5%;
              box-sizing: border-box;
            }
            .sendBtn{
              float: right;
              margin-right: 5%;
            }
          }
        }
        .active{
          background: white;
          display: block;
        }
        .posts{
          height: calc(~"100vh - 126px - 148px");
          height: -moz-calc(~"100vh - 126px - 148px");
          height: -webkit-calc(~"100vh - 126px - 148px");
          height: -o-calc(~"100vh - 126px - 148px");
          overflow: auto;
          .post{
            .postHeader{
              padding: 10px 10px 0px 10px;
              .postHeaderAvatar{
                border-radius: 50%;
                width: 40px;
                border: 3px solid white;
                box-sizing: border-box;
              }
              .postHeaderPlayerName{
                display: inline-block;
                position: relative;
                top: -15px;
              }
              .postHeaderDate{
                display: inline-block;
                float: right;
                position: relative;
                top: 10px;
              }
            }
            .postBody{
              padding: 0 20px;
              font-weight: 300;
            }
          }
        }
        .issue{
          padding-top: 30px;
          &:hover {
            background: rgba(125, 119, 178, 0.04);
            background-color: rgba(125, 119, 178, 0.04);
            cursor: pointer;
          }
          .issueHeader{
            margin-bottom: -10px;
            .issueHeaderTitle{
              display: inline-block;
              top: -15px;
              color: #7d77b2;
            }
            .issueHeaderAuthor{
              display: inline-block;
              float: right;
            }
          }
          .issueBody{
            padding: 0 20px;
            font-weight: 300;
            ul{
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
  .leftPartOfTable{
    color: #7e8287;
    float: left;
    height: calc(~"100vh - 70px");
    height: -moz-calc(~"100vh - 70px");
    height: -webkit-calc(~"100vh - 70px");
    height: -o-calc(~"100vh - 70px");
    width: calc(~"100% - "@rightSideWidth);
    width: -moz-calc(~"100% - "@rightSideWidth);
    width: -webkit-calc(~"100% - "@rightSideWidth);
    width: -o-calc(~"100% - "@rightSideWidth);
    .players{
      background: rgb(234, 234, 234);
      text-align: center;
      padding: 10px;
      .playerData{
        margin-left: 5%;
        display: inline-block;
        text-align: center;
        .avatar{
          border-radius: 50%;
          width: 50px;
          border: 3px solid white;
          box-sizing: border-box;
        }
      }
    }
    .tableDesk{
      background: rgb(242, 242, 242);
      background-color: rgb(242, 242, 242);
      .issueTitleOnDesk{
        text-align: center;
        font-size: 2em;
      }
      .setofCradsOnDesk{
        text-align: center;
        .cardOnDesk {
          background: white;
          width: 7vw;
          height: 9vw;
          display: inline-block;
          border-radius: 10px;
          margin-left: 15px;
          box-shadow: 1px 3px 6px #888888;
          margin-top: 15px;
          .playerAvatarOnCard {
            border-radius: 50%;
            width: 40px;
            border: 3px solid white;
            box-sizing: border-box;
            position: relative;
            top: -1vw;
          }
          .numberOnCardOnDesk{
            position: relative;
            top: -2vw;
            span {
              font-size: 4vw;
              font-weight: 700;
              color: rgb(125, 119, 178);
            }
            i {
              display: block;
              font-size: 2vw;
            }
          }
          .playerNameOnCard {
            position: relative;
            .deleteCard {
              cursor: pointer;
            }
          }
        }
      }
    }
    .cardsSet{
      background: #eaeaea;
      background-color: #eaeaea;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      .card{
        background: white;
        width: 7vw;
        height: 9vw;
        display: inline-block;
        border-radius: 10px;
        margin-left: 15px;
        cursor: pointer;
        box-shadow: 0px 2px 2px #888888;
        margin-top: 15px;
        &:hover{
          background: rgba(255, 255, 255, 0.62);
        }
        span {
          font-size: 4vw;
        }
        i {
          font-size: 3vw;
          display: block;
        }
      }
    }
  }
}
/* roomView END */
